#baleineBleu
{
    position: absolute;
    top: 25vh;
    left: 25vh;
    width: 100vh;
    z-index: -1;
}
#organe
{
    position: absolute;
    top: 25vh;
    left: 25vh;
    width: 100vh;
    z-index: 0;
}
#map
{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
#fakeBody
{
    height:720px;
    width:1280px;
    position:absolute;
    box-sizing:border-box;
    transform-origin: 0 0;
    -moz-transform-origin:0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}
html
{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #000407;
    
}
body
{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant: all-small-caps;
    margin: 0;
    padding: 0;
    /*
    width: 100vw;
    height: auto;
    */
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    width:100vw;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width:100vw;
}
h1
{
    text-align: center;
    position: sticky;
}

#h1
{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 3em;
    margin-bottom: 5%;
}

.acceuil
{
    display: block;
    font-size: 4em;
    text-align: center;
}
.regles
{
    margin-top: -5%;
    white-space:pre;
    display: block;
    width: 90%;
}

button /* Style de base d'un bouton (style desactivé) */
{
    font-variant: all-small-caps;
    border: none;
    border-radius: 0.3em;
    color: white;
    background-color: rgb(219, 219, 219);
    padding: 0.6% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin: 0 0.3%;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    cursor: default;
    
}
button:focus
{
    outline: none; /* Cache la bordure du navigateur bleu quand on click*/
}

#fakeBtnRegle, #btnFakeSuivant
{
    background-color: rgb(0, 0, 0, 0); /* Couleur du fond du bouton avant le hover */
    color: white; /* Couleur du texte avant */
    border: 1px solid white; /* Couleur bordure */
    width: fit-content;
}

#btnSuivant, #btnValider
{
    position: absolute;
    bottom: 0%;
    right: 0%;
    background-color: rgb(0, 0, 0, 0); /* Couleur du fond du bouton avant le hover */
    color: white; /* Couleur du texte avant */
    border: 1px solid white; /* Couleur bordure */
    height: max-content;
    cursor: pointer;
}

#btnSuivant:hover, #btnValider:hover
{
    transform: scale(0.98);
    box-shadow: 0 0 0.3em white inset;
}

#btnPrecedent
{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0); /* Couleur du fond du bouton avant le hover */
    color: white; /* Couleur du texte avant */
    border: 1px solid white; /* Couleur bordure */
    height: max-content;
    cursor: pointer;
}

#btnPrecedent:hover
{
    transform: scale(0.98);
    box-shadow: 0 0 0.3em white inset;
}
#txtValide
{
    font-weight: bolder;
}

ul
{
    font-weight: 900;
    font-size: 100%;
    margin-block-start: -2%;
}
ul li .liTxt
{
    display: inline-flex;
}

#regles
{
    font-size: 2em;
    display: inline-flex;
}

#btnReplay
{
    width: fit-content;
    background-color: rgb(0, 0, 0, 0); /* Couleur du fond du bouton avant le hover */
    color: white; /* Couleur du texte avant */
    border: 1px solid white; /* Couleur bordure */
    cursor: pointer;
}
#btnReplay:hover img
{
    transform: rotate(-180deg);
    transition: 0.2s ease-in-out;
}

#credit
{
    display: none;
    position: absolute;
    bottom: 0px;
    width: 98vw;
    text-align: center;
}

.resultat
{
    display: block;
    text-align: center;
}

#casesCommunications
{
    float: left;
    margin-left: 10%;
}
#pastillesCommunications
{
    float: right;
    margin-right: 10%;
}

.rond
{
    border-radius: 50%;
    width: 5em;
    height: 5em;
    box-shadow: 0 0 0.4em black inset;
    background: rgba(255, 255, 255, 0.514);
    margin: 0.5em;
}
.pastilles
{
    border-radius: 50%;
    width: 5em;
    height: 5em;
    box-shadow: 0 0 0.4em black inset;
    background: rgba(255, 255, 255, 1);
    margin: 0.5em;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}
.pastilles:hover
{
    box-shadow: 5px 5px 5px black;

}

.pastilles:active
{
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}
#pastillesCommunications table div div
{
    font-size: 0.8em;
    overflow-wrap: anywhere;
}
/*STYLES DE CHAQUES MOTS*/
#textTrou
{
    padding: 1em;
    font-size: 1.5em;
}
.inputMot
{
    text-transform: uppercase;
    border: none;
    padding: 0;
    color: rgb(221, 214, 109);
    font-variant: caps;
    font: 2ch 'Roboto Mono', 'Roboto Mono', monospace;
}
.inputMot:focus
{
    outline:none
}
#mot1 
{
    width: 10.5ch; /* = nombre de lettre*(1ch + gap) avec gap = 0.5ch */
    background: repeating-linear-gradient(90deg, white 0, white 1ch, transparent 0, transparent 1.5ch/* 1ch + 0.5ch*/) 0 100%/ 10ch/*= width - gap*/ 2px no-repeat;
    letter-spacing: 0.5ch;/* = gap*/
}
#mot2
{
    width: 9ch; /* = nombre de lettre*(1ch + gap) avec gap = 0.5ch */
    background: repeating-linear-gradient(90deg, white 0, white 1ch, transparent 0, transparent 1.5ch/* 1ch + 0.5ch*/) 0 100%/ 8.5ch/*= width - gap*/ 2px no-repeat;
    letter-spacing: 0.5ch;/* = gap*/
}
#mot3 
{
    width: 7.5ch; /* = nombre de lettre*(1ch + gap) avec gap = 0.5ch */
    background: repeating-linear-gradient(90deg, white 0, white 1ch, transparent 0, transparent 1.5ch/* 1ch + 0.5ch*/) 0 100%/ 7ch/*= width - gap*/ 2px no-repeat;
    letter-spacing: 0.5ch;/* = gap*/
}
#mot4 
{
    width: 9ch; /* = nombre de lettre*(1ch + gap) avec gap = 0.5ch */
    background: repeating-linear-gradient(90deg, white 0, white 1ch, transparent 0, transparent 1.5ch/* 1ch + 0.5ch*/) 0 100%/ 8.5ch/*= width - gap*/ 2px no-repeat;
    letter-spacing: 0.5ch;/* = gap*/
}
#mot5 
{
    width: 10.5ch; /* = nombre de lettre*(1ch + gap) avec gap = 0.5ch */
    background: repeating-linear-gradient(90deg, white 0, white 1ch, transparent 0, transparent 1.5ch/* 1ch + 0.5ch*/) 0 100%/ 10ch/*= width - gap*/ 2px no-repeat;
    letter-spacing: 0.5ch;/* = gap*/
}
#mot6 
{
    width: 6ch; /* = nombre de lettre*(1ch + gap) avec gap = 0.5ch */
    background: repeating-linear-gradient(90deg, white 0, white 1ch, transparent 0, transparent 1.5ch/* 1ch + 0.5ch*/) 0 100%/ 5.5ch/*= width - gap*/ 2px no-repeat;
    letter-spacing: 0.5ch;/* = gap*/
}
#mot7 
{
    width: 16.5ch; /* = nombre de lettre*(1ch + gap) avec gap = 0.5ch */
    background: repeating-linear-gradient(90deg, white 0, white 1ch, transparent 0, transparent 1.5ch/* 1ch + 0.5ch*/) 0 100%/ 16ch/*= width - gap*/ 2px no-repeat;
    letter-spacing: 0.5ch;/* = gap*/
}
#mot8 
{
    width: 18ch; /* = nombre de lettre*(1ch + gap) avec gap = 0.5ch */
    background: repeating-linear-gradient(90deg, white 0, white 1ch, transparent 0, transparent 1.5ch/* 1ch + 0.5ch*/) 0 100%/ 17.5ch/*= width - gap*/ 2px no-repeat;
    letter-spacing: 0.5ch;/* = gap*/
}
#mot9 
{
    width: 7.5ch; /* = nombre de lettre*(1ch + gap) avec gap = 0.5ch */
    background: repeating-linear-gradient(90deg, white 0, white 1ch, transparent 0, transparent 1.5ch/* 1ch + 0.5ch*/) 0 100%/ 7ch/*= width - gap*/ 2px no-repeat;
    letter-spacing: 0.5ch;/* = gap*/
}

