html
{
    background-image: url(./images/backgroundAqua.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body
{
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header
{
    text-align: center;
    position: sticky;
}

#ep1Acceuil
{
    display: none;
    font-size: 4em;
    text-align: center;
}

#ep1Regles
{
    white-space:pre;
    display: block;
}

button /* Style de base d'un bouton (style desactivé) */
{
    border: none;
    border-radius: 0.5em;
    color: white;
    background-color: rgb(219, 219, 219);
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    cursor: default;
    
}

button:focus
{
    outline: none; /* Cache la bordure du navigateur bleu quand on click*/
}

#btnSuivant
{
    float: right;
}