body
{
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant: all-small-caps;
    color: black;
}
#h1
{
    text-align: center;
    font-size: 4em;
}
#divMil
{
    text-align: center;
}
button /* Style de base d'un bouton (style desactivé) */
{
    font-variant: all-small-caps;
    font-weight: bolder;
    border: none;
    border-radius: 0.5em;
    color: white;
    background-color: rgb(219, 219, 219);
    padding: 1em 3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 0.4em 0.2em;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    cursor: default;
    
}

button:focus
{
    outline: none; /* Cache la bordure du navigateur bleu quand on clique*/
}
#btnAqua
{
    background-color: rgb(0, 0, 0, 0); /* Couleur du fond du bouton avant le hover */
    color: black; /* Couleur du texte avant */
    border: 1px solid rgb(0, 161, 161); /* Couleur bordure */
    cursor: pointer;
}
#btnAqua:hover
{
    transform: scale(0.98);
    box-shadow: 0 0 0.2em rgb(0, 161, 161) inset;
    /*background-color: rgb(0, 161, 161); /* Couleur du fond apres */
    /*color: white; /* Couleur du texte apres */
    
}

#btnTerr
{
    background-color: rgb(0, 0, 0, 0); /* Couleur du fond du bouton avant le hover */
    color: black; /* Couleur du texte avant */
    border: 1px solid rgb(105, 161, 0); /* Couleur bordure */
    cursor: pointer;
}
#btnTerr:hover
{
    transform: scale(0.98);
    box-shadow: 0 0 0.2em rgb(105, 161, 0) inset;
    /*background-color: rgb(105, 161, 0); /* Couleur du fond apres */
    /*color: white; /* Couleur du texte apres */
}

#divGrandQ
{
    text-align: center;
}